<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Nouvelle Tâche</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <main class="container">
        <h2>Ajouter une Nouvelle Tâche</h2>
        <form th:action="@{/tasks}" th:object="${task}" method="post">
            <label for="titre">Titre :</label>
            <input type="text" id="titre" th:field="*{titre}" required />

            <label for="description">Description :</label>
            <textarea id="description" th:field="*{description}" required></textarea>

            <label for="date">Date :</label>
            <input type="date" id="date" th:field="*{date}" required />

            <button type="submit" class="btn primary">Enregistrer</button>
            <a th:href="@{/tasks}" class="btn cancel">Annuler</a>
        </form>
    </main>
</body>
</html>
